

PORT=3000

MONGO_URL=mongodb://mongo-user:123456@localhost:27017
MONGO_DB_NAME=mystore
JWT_SEED=123456


MAILER_SERVICE=gmail
MAILER_EMAIL=asdasdasdsad@gmail.com
MAILER_SECRET_KEY=asdsadasdsad


WEBSERVICE_URL=http://localhost:3000  # URL donde está desplegado tu backend

CLIENT_URL=http://localhost:5173  #URL donde está desplegada tu app frontend

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=root
PG_DATABASE=notez

DATABASE_URL="postgresql://postgres:root@localhost:5432/notez"


CLOUDINARY_NAME = "sdsadsadsad"
CLOUDINARY_API_KEY = "3424324234"
CLOUDINARY_API_SECRET = "asdsadasdsadas"


SIGHTENGINE_USER="212121212"
SIGHTENGINE_SECRET="asdasdasdasdsadsadsadasda"
SIGHTENGINE_API_URL="https://api.sightengine.com/1.0/check.json"


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

